{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/dist/css/app.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content_title %} {% trans 'Parking Tracking' %} {% endblock %}

{% block content %}
 <style>

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}



.mu-bg-oranges{
  background-color: #d4694e;
  color: white;
  font-weight: bolder;
}
 .panel-new {
        padding: 2rem;
        border: 3px solid #ef4036;
        border-right-style: none;
        border-bottom-style: none;
        border-top-style: none;
    }
</style>
<!-- Begin Page Content -->
<div class="container" style="width: 96%;">
<div class="row panel" style="padding: 10px" >
	    <!-- data table start -->

    <div class="panel panel-new">
        <h3> Parking History</b></h3>
        <p><i class="fa fa-info-circle fa-1x fa-lg text-danger-custom"></i>
        <strong style="margin-left: 2r;">Enter the Range </strong></p>
    </div>

    <div class="row">
        <div class="col-xl-10 col-md-10 col-xs-12 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
            <div class="panel">
                <div class="panel-body">
                    <form method="GET">
                        {% csrf_token %}
                        <div class="row">
                            <center>
                                <div class="col-md-9 col-xs-12">
                                    <div style="display:flex">
                                        <span style="margin-right:1rem; margin-top:0.7rem">From</span>
                                        <input type="date" class="form-control" name="date1" placeholder="start date">

                                        <span style="margin:1rem; margin-top:0.7rem">To</span>
                                        <input type="date" class="form-control" name="date2" placeholder="end date">

                                        <button class="btn btn-danger" name="submit" type="submit" style="margin-left:1rem;"> Search <i class="fa fa-search"></i></button>
                                </div>
                            </center>
                        </div>
                    </form>
                    {% if count_report > 0 %}

                        <div style="margin-top: 3rem">
                             <h4>Report From <b>{{from_date}}</b> To <b>{{to_date}}</b> </h4>
                             <h5>{{count_report}} records found </h5>
                            <hr>

                            <table>
                                <tr>
                                    <th>s/N</th>
                                    <th>car</th>
                                    <th>Car Type</th>
                                    <th>Owner</th>
                                    <th>Contact</th>
                                    <th>Entrance</th>
                                    <th>Parking</th>
                                    <th>Exit</th>
                                    <th>Duration</th>
                                    <th>Charge</th>
                                </tr>
                                {% for x in report %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{x.car.plate}}</td>
                                        <td>{{x.car.model}}</td>
                                        <td>{{x.car.owner.first_name}} &nbsp;{{x.car.owner.last_name}}</td>
                                        <td>{{x.car.owner.phone}}</td>
                                        <td>{{x.entrance}}</td>
                                        <td>{{x.parking}}</td>
                                        <td>{{x.exit}}</td>
                                        <td>{{x.duration}}</td>
                                        <td>{{x.charge}}</td>


                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endblock %}